@import "~@/mixin.less";

.pageWrapper {
  flex: 0 1;
}

.head {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    height: 100px;
    margin-bottom: 10px;

    img {
      height: 100%;
    }
  }

  .searchWrapper {
    width: 60%;
    .useSearchEngine {
      font-size: .5em;
    }
  }
}

.searchOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .searchEngineLogo {
    display: flex;
    max-width: 100px;
    height: 20px;
    align-items: center;
    img {
      justify-self: center;
      height: 100%;
    }
  }
}

.selectBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .rightIcon {
    transform: rotate(0deg);

    &.leftAction {
      transform: rotate(180deg);
    }
  }

  .workspace {
    color: #718096;
    text-decoration: inherit;
    box-sizing: inherit;

    &.actionWorkspace {
      border-bottom: 4px solid #e2e8f0;
    }
  }

}

.content {
  display: flex;
  flex-direction: row;

}

.mainPanel {
  margin-top: 10px;
  @RowItemHeight: 30px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  .panelRow {
    //border-bottom: 1px solid #f6f8f9;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    &:hover {
      max-height: none;

      .title {
        left: -100px;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          width: 250px;
          height: 15px;
          background-color: rgba(255, 255, 255, 0.5);
          transform: rotate(-45deg);
          animation: lightning 1s ease-in 1s infinite;
        }

        @keyframes lightning {
          0% {
            left: -120px;
            top: 0;
          }
          to {
            left: 120px;
            top: 100px;
          }
        }
      }
    }

    .title {
      position: absolute;
      top: 5px;
      left: -15px;
      z-index: -1;
      display: flex;
      align-items: center;

      height: @RowItemHeight;
      box-sizing: border-box;
      padding: 0 12px;
      border-radius: 3px;
      color: #fff;
      background: #718096;
      box-shadow: 0 2px 0 rgba(170, 170, 170, 0.1);
    }

    .sites {
      position: relative;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }
}

.rightPanel {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  width: 0;
  height: 0;

  &.show {
    width: 280px;
    height: unset;
  }

  .box {
    font-size: 13px;
    margin: 0 0 0 10px;
    text-align: left;

    .boxDivider {
      margin-bottom: 0;
    }

    .boxTitle {
      padding-left: 5px;
    }
  }

}

.siteWrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;

  .site {
    border: 1px solid #e8e8e8;;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;

    &:hover {
      box-shadow: 0 3px 3px rgba(170, 170, 170, 0.2);
    }

    .siteHead {
      display: flex;
      flex-direction: row;
      padding: 10px 18px 0;
      margin-bottom: 7px;
      align-items: center;

      .siteLogo {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .siteTitle {
        font-weight: 700;
        font-size: 15px;
        padding-left: 10px;
        color: rgba(0, 0, 0, 0.85);;
      }
    }

    .siteFooter {
      padding: 0 18px 8px;
      display: flex;
      flex-direction: row;

      .use, .commend {
        flex: 1;
        color: #bbb;
        text-align: center;
      }
    }
  }
}
