:global {
  .ant-select-auto-complete.ant-select .ant-input:focus,
  .ant-select-auto-complete.ant-select .ant-input:hover {
    border-color: var(--theme-color);
  }

  .ant-input:focus {
    box-shadow: 0 0 0 2px rgba(113, 128, 150, 0.2);
  }

  .ant-btn:active,
  .ant-btn:hover,
  .ant-btn:focus {
    color: var(--theme-color);
    border-color: var(--theme-color);
  }

  .ant-modal-footer .ant-btn-primary {
    background-color: #718096;
    color: #fff;
    border-color: #718096;
  }

  .ant-message {
    z-index: 1052;
  }
}

