@import "~@/mixin.less";

html, body {
  .dark({
    background-color: #030303;
  });
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  .mobile({
    width: 100%;
  });

  .dark({
    background-color: @darkBackgroundColor;
  });
}
